<div class="row">
    <div class="col-md-4">
        <a href="#/addNewProduct" class="btn btn-default">Add Product</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Product List</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-stripped table-bordered">
            <thead class="tbl-header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prod in products">
                    <td>{{prod.Id}}</td>
                    <td>{{prod.Name}}</td>
                    <td>{{prod.Price}}</td>
                    <td>
                        <a href="#/products/{{prod.Id}}" class="btn btn-link">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>