<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <form class="form-signin">
            <div class="form-group">
                <h2 class="form-signin-heading">Reset Password</h2>
            </div>
            <div class="form-group">
                <label class="control-label">Old Password:</label>
                <input type="password" class="form-control" ng-model="ResetModel.OldPassword" />
            </div>
            <div class="form-group">
                <label class="control-label">New Password:</label>
                <input type="password" class="form-control" ng-model="ResetModel.NewPassword" />
            </div>
            <div class="form-group">
                <label class="control-label">Confirm Password:</label>
                <input type="password" class="form-control" ng-model="ResetModel.ConfirmPassword" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="resetPassword()">Submit</button>
            </div>
        </form>
    </div>

</div>