<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Product Name:</label>
            <span>{{selectedProduct.Name}}</span>
        </div>
        <div class="form-group">
            <h4>Are you sure wish to delete the product?</h4>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="deleteProduct()">Yes</button>
            &nbsp;
            <a href="#/myProducts" class="btn btn-default">Cancel</a>
        </div>
    </div>
</div>