<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Id:</label>
            <span>
                {{selectedProduct.Id}}
            </span>
        </div>
        <div class="form-group">
            <label class="control-label">Name:</label>
            <span>
                {{selectedProduct.Name}}
            </span>
        </div>
        <div class="form-group">
            <label class="control-label">Price:</label>
            <span>
                {{selectedProduct.Price}}
            </span>
        </div>
        <div class="form-group">
            <label class="control-label">Category:</label>
            <span>
                {{selectedProduct.Category}}
            </span>
        </div>
        <div class="form-group">
            <a href="#/myProducts" class="btn btn-default">Back</a>
        </div>
    </div>
</div>
